
.listLink {
    width: 137px;
    height: 137px;
    display:inline-flex;
    line-height: 137px;
    text-decoration: none;
    font-size:1.3rem;
    color:white;
    justify-content: center;
    align-items: center;
    float:left;
    
    filter:grayscale(85%);

    transition: all .2s;
}

.listLink:hover {
    text-decoration: none;
    color:white;
    filter:none;
}

.listLink svg {
    fill: #fff;
}

/*  https://zamarrowski.github.io/react-ionicons/  */