.time {
    position:absolute;
    right:30px;
    bottom:30px;
    color: white;
    z-index: 6;
}

.hour {
    font-size:4rem;
    display:block;
    line-height: 4rem;
}

.day {
    display:block;
    text-align:right;
    font-size:1.50rem;
}

.date {
    font-size: 1.25rem;
    text-align: right;
}