.search-bar {
    margin:20px;
    text-align: center;
}


.search-bar input {
    width:75%;
}

.video-item {
    max-width: 64px;
}


.video-detail {
    min-width: 660px;
}

.video-detail .details {
    margin-top: 10px;
    padding:10px;
    border:1px solid #ddd;
    background:#fff;
}

.list-group-item {
    cursor: pointer;
    list-style:none;
}

.list-group-item:nth-child(5){
    display:none;
}

.list-group-item:hover {
    background-color: #eee;
}