.controlBar {
    max-width: 960px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.controlBar-item {
    cursor: pointer;
    text-align:center;
    padding-top:1rem;
    padding-bottom:1rem;
    display:inline-block;
    background-color: #4c6470;
    transition: .2s all;
    color: #fff;
    font-size:1.3rem;
    font-weight: 300;

}

.controlBar-item:hover {
    transform: translateY(-2px);
    background-color: #334B57;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.controlBar-item:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.controlBar-item:focus {
    transform: translateY(2px);
}

.controlBar-item:active, .bcontrolBar-item:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); 
}